{% extends "base.html.twig" %}

{% block head %}
    <title>Inventory index</title>
{% endblock %}

{% block body %}
    <h1>Inventory index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
                {% if app.user %}
                
                    {% if is_granted('ROLE_ADMIN') or inventory.member.user == app.user %}
                        <tr>
                            <td>{{ inventory.id }}</td>
                            <td>{{ inventory.description }}</td>
                            <td>{{ inventory.name }}</td>
                            <td>
                                <a href="{{ path('app_inventory_show', {'id': inventory.id}) }}">show caps</a>
                                <a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}">edit</a>
                            </td>
                        </tr>
                        
                    {% endif %}
                    
                {% endif %}  
            {% else %}   
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                           
            {% endfor %} 
            {% if not app.user %}  
                <tr>
                    <td colspan="4">Please login to see your inventories</td>
                </tr> 
            {% endif %}
        
        </tbody>
    </table>
        

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_inventory_new') }}">Create new</a>
    {% endif %}    
   
{% endblock %}
