{% extends 'base.html.twig' %}

{% block title %}New Paste{% endblock %}

{% block main %}
    <h1>Create new Paste</h1>

    {{ form_start(form) }}
    {{ form_row(form.content) }}
    {{ form_row(form.imageFile) }}
    <button type="submit" class="btn btn-primary">Create Paste</button>
    {{ form_end(form) }}

    <a href="{{ path('app_paste_index') }}">Back to list</a>
{% endblock %}
