{% extends 'base.html.twig' %}

{% block title %}Wardrobe index{% endblock %}

{% block body %}
    <h1>Wardrobe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
                
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Is Visible</th>
                {% endif %}    
                
            </tr>
        </thead>
        <tbody>
        {% for wardrobe in wardrobes %}
            {% if wardrobe.isVisible or (app.user and wardrobe.member is not null and wardrobe.member.user == app.user) %}
                <tr>
                    <td>{{ wardrobe.id }}</td>
                    <td>{{ wardrobe.name }}</td>
                    <td>
                        <a href="{{ path('app_wardrobe_show', {'id': wardrobe.id}) }}">show</a>
                        <a href="{{ path('app_wardrobe_edit', {'id': wardrobe.id}) }}">edit</a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>Yes</td>
                    {% endif %}  
                </tr>
            {% elseif not wardrobe.isVisible and is_granted('ROLE_ADMIN') %}
                <tr>
                    <td>{{ wardrobe.id }}</td>
                    <td>{{ wardrobe.name }}</td>
                    <td>
                        <a href="{{ path('app_wardrobe_show', {'id': wardrobe.id}) }}">show</a>
                        <a href="{{ path('app_wardrobe_edit', {'id': wardrobe.id}) }}">edit</a>
                    </td>
                    <td>No</td>
                </tr>
            {% endif %}    

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_wardrobe_new') }}">Create new</a>
{% endblock %}
