{% extends "base.html.twig" %}
    {% block head %}
        <title>Cap index</title>
    {% endblock %}

    {% block main %}
        <h1>Cap index</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Condition</th>
                    <th>Brand</th>
                    <th>Year</th>
                    <th>member</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for cap in caps %}
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') or cap.inventory.member.user == app.user %}
                        <tr>
                            <td>{{ cap.id }}</td>
                            <td>{{ cap.description }}</td>
                            <td>{{ cap.name }}</td>
                            <td>{{ cap.color }}</td>
                            <td>{{ cap.size }}</td>
                            <td>{{ cap.condition }}</td>
                            <td>{{ cap.brand }}</td>
                            <td>{{ cap.year }}</td>
                            <td>{{ cap.inventory.member.name }}</td>
                            <td>
                                <a href="{{ path('app_cap_show', {'id': cap.id}) }}">show</a>
                                {% if is_granted('ROLE_USER') %}    
                                    <a href="{{ path('app_cap_edit', {'id': cap.id}) }}">edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %} 
                {% endif %}        
            {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr> 
            {% endfor %}
                {% if not app.user %}
                    <tr>
                        <td colspan="9">please login to see your caps</td>
                    </tr> 
                {% endif %}     
            </tbody>
        </table>

        <a href="{{ path('app_cap_new') }}">Create new</a>
    {% endblock %}
