{% extends "base.html.twig" %}
    {% block head %}
        <title>Cap index</title>
    {% endblock %}

    {% block main %}
        <h1>Cap index</h1>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('app_inventory_index') }}">Inventories</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_member_index') }}">Members</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_paste_index') }}">Pastes</a></li>
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Condition</th>
                    <th>Brand</th>
                    <th>Year</th>
                    <th>actions</th>
                    <th>member</th>
                </tr>
            </thead>
            <tbody>
            {% for cap in caps %}
                <tr>
                    <td>{{ cap.id }}</td>
                    <td>{{ cap.description }}</td>
                    <td>{{ cap.name }}</td>
                    <td>{{ cap.color }}</td>
                    <td>{{ cap.size }}</td>
                    <td>{{ cap.condition }}</td>
                    <td>{{ cap.brand }}</td>
                    <td>{{ cap.year }}</td>
                    <td>{{ cap.inventory.member.name }}</td>
                    <td>
                        <a href="{{ path('app_cap_show', {'id': cap.id}) }}">show</a>
                        {% if is_granted('ROLE_USER') %}    
                            <a href="{{ path('app_cap_edit', {'id': cap.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_cap_new') }}">Create new</a>
    {% endblock %}
