<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ asset('js/scripts.js') }}"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        {% endblock %}
            
        {% block javascripts %}
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
        
    </head>
    <body>
        {% block menu %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if app.user %}
                            {{ render_bootstrap_menu('account') }}
                        {% else %}
                            {{ render_bootstrap_menu('anonymousaccount') }}
                        {% endif %} {# app.user #}
                    </ul>
            </div>
            <!-- Navigation 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('app_member_index') }}">ToDo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            {{ render_bootstrap_menu('main') }}
                        </ul>
                    </div>
                    </div>
            </nav>
            -->
        {% endblock %}{# menu #}
        
        {%  block alerts %}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <div>{{ message|raw }}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %} {# messages #}
            {% endfor %} {# type, messages #}
        {% endblock %} {# alerts #}

        {% block body %}
            <div class="container body-container">

                <main>

                {# Ici la partie utile que les gabarits des pages vont surcharger #}
                {% block main %}
                <div class="row">
                    <div class="col-md-12">
                    <p>
                        <i>MAIN</i>
                    </p>
                    </div>
                </div>
                {% endblock %} {# main #}

                </main>

            </div> <!-- /.body-container -->

            {% block footer %}
            <footer class="text-center text-lg-start bg-light text-muted">
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                FOOTER
                </div>
            </footer>
            {% endblock %}{# footer #}
        {% endblock %}
    </body>
</html>